body {
    min-width: 850px;
    background: rgb(245,245,245)
}

#header {
    height: 100px;
    width: 100%;
    background: rgb(245,245,245)
}

    #title {
        width: 80%; 
        margin: 0px 10%;
        color:black;
        font-size: 50px; 
        line-height: 100px;
        text-align: left;
        vertical-align: center;
        /*font-family: 'Abel', sans-serif;*/
        font-family: 'Abel', sans-serif;
        text-decoration: underline;
        -moz-text-decoration-color: green;
        text-decoration-color: green;
    }

#navigation {
    width:100%;
    background: rgb(100,100,100);
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

    #nav_top, #nav_mid, #nav_bot {
        width: 80%; 
        min-width: 850px;
        position:relative;
        height:50px;
        margin: 0px 10%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center; 
    }

    #nav_top {
        font-size: 25px;
        padding: 0;
    }
        #nav_top li {
            display:inline-block;
            background: rgb(255,255,255);
            width: 150px;
            border: 1px solid blue;
            border-radius: 5px;
        }

    #nav_mid {
        font-size: 25px;
    }
        #nav_mid div {
            display:inline;
        }
            #nav_mid button {
                height:35px;
                width:150px;
                line-height: 100%;
            }
                #back {
                    position:absolute;
                    left:10%;
                }
                #next {
                    position:absolute;
                    right:10%;             
                }
                #step {
                    float:left;
                    width:100%;
                    color: white;
                }

    #nav_bot {
        font-size: 20px;
    }
        #message {
            width:100%;
            text-align: center;
            clear:both;
            color: yellow;
            position: relative;
            top: 20px;
        }

#main {
    width: 100%;
    background: rgb(245,245,245);
    padding-top: 50px;
    padding-bottom: 50px;
}

    .content {
        min-height: 500px;
        width: 80%; 
        margin: 0px 10%;
    }

    #boundary {}

        #boundary>div {
            display: inline-block;
        }

        #bnd_opts {
            width:25%;
            height:400px;
            padding-left: 0%
        }
            #bnd_opts div {
                width:100%;
                text-align: center;
            }
            #bnd_options {
                width: 100%;
                display:block;
                padding:10px;
            }

        #bnd_map {
            float:right;
            width:75%;
            height:400px;
            padding-top: 20px;
        }
            #map {
                width:100%;
                height:100%;
                }

        #bnd_info {
            height:100px;
            width: 100%;
        }

        #bnd_lock {
            width: 100px;
            height: 50px;
            display: block;
            margin-left: 50%;
            position: relative;
            left: -50px;
        }

    #data {}

        #data_top {
            position: relative;
            width: 100%;
            height: 100px;
        }

            #data_top>div {
                display: inline-block;
                width: 45%;
                height: 100%;
                border: 1px solid black;
                
            }

            #data_bnd {
                position: absolute;
                left: 2.50%;
            }

            #data_summary {
                position: absolute;
                right: 2.50%;
            }

            #data_top>div>div {
                padding-left: 20px;
                padding-top: 10px;
            }

        #data_mid {
            margin-top: 50px;
            margin-bottom: 20px;
        }
            #data_mid>button {
                float: right;
            }

        #data_bot {
            position: relative;
            width:100%;
        }

            .dataset_header {
                position: relative;
                height: 80px;
                width: 100%;
                margin-top: 10px;
                background: rgb(200,200,200);
            }

                .dataset_header>div {
                    height:50%;
                }

 
                    .dataset_icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display:inline-block;
                        font-size: 20px;
                        line-height: 30px;
                        background-color:black;
                        color:white;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        vertical-align: bottom;
                        cursor: pointer;
                    }

                    .dataset_header>div>div {
                        display: inline-block;
                        line-height: 40px;
                    }

                    .dataset_h1 {
                        margin-left: 25px;
                    }

                    .dataset_h2 {
                        width: 25%;
                        text-align: center;
                    }

                    .dataset_title {
                        font-weight: bold;
                    }

            .dataset_body {
                display: none;
                height: 100px;
                background: rgb(200,200,200);
            }

