body {
    min-width: 1000px;
    background: rgb(245,245,245)
}
label {
    display: inline-block;
    padding-left: 15px;
    text-indent: -15px;
}
input:checkbox, input:radio {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*-----------------------------------------------------------------------*/
#header {
    width: 100%;
}

    #title {
        height: 100px;
        width: 80%; 
        margin: 0px 10%;
        color:black;
        font-size: 50px; 
        line-height: 100px;
        text-align: left;
        vertical-align: center;
        /*font-family: 'Abel', sans-serif;*/
        font-family: 'Abel', sans-serif;
        text-decoration: underline;
        -moz-text-decoration-color: green;
        text-decoration-color: green;
    }

    #navigation {
        width:100%;
        background: rgb(100,100,100);
        text-align: center; 
        /*padding-top: 20px;*/
        /*padding-bottom: 10px; */
    }

        #nav_top, #nav_mid, #nav_bot {
            width: 80%; 
            min-width: 850px;
            position:relative;
            /*height:50px;*/
            margin: 0px 10%;
            /*padding-top: 10px;*/
            /*padding-bottom: 10px;*/
            /*text-align: center; */
        }

        #nav_top {
            font-size: 22px;
            padding: 0;
            height:50px;
        }
            #nav_top li {
                position: relative;
                top: 10px;
                height:30px;
                display:inline-block;
                background: rgb(255,255,255);
                width: 150px;
                border: 1px solid blue;
                border-radius: 5px;
            }

        #nav_mid {
            position: relative;
            font-size: 25px;
            height: 50px;
        }
            #nav_mid div {
                display:inline;
            }
                #nav_mid button {
                    height:35px;
                    width:150px;
                    line-height: 100%;
                }
                    #back {
                        position:absolute;
                        left:10%;
                    }
                    #next {
                        position:absolute;
                        right:10%;             
                    }
                    #step {
                        float:left;
                        width:100%;
                        color: white;
                        line-height: 50px;
                    }

        #nav_bot {
            font-size: 20px;
            height: 50px;
        }
            #message {
                width:100%;
                text-align: center;
                clear:both;
                color: yellow;
                position: relative;
                top: 10px;
            }
/*-----------------------------------------------------------------------*/
#main {
    width: 100%;
    background: rgb(245,245,245);
    padding-top: 50px;
    padding-bottom: 50px;
}

    .content {
        min-height: 500px;
        width: 80%; 
        margin: 0px 10%;
    }
/*-----------------------------------------------------------------------*/
    #boundary {}

        #boundary>div {
            display: inline-block;
        }

        #bnd_opts {
            width:25%;
            height:400px;
            padding-left: 0%
        }
            #bnd_opts div {
                width:100%;
                text-align: center;
            }
            #bnd_options {
                width: 100%;
                display:block;
                padding:10px;
            }

        #bnd_map {
            float:right;
            width:75%;
            height:400px;
            padding-top: 20px;
        }
            #map {
                width:100%;
                height:100%;
                }

        #bnd_info {
            height:100px;
            width: 100%;
        }

        #bnd_lock {
            width: 100px;
            height: 50px;
            display: block;
            margin-left: 50%;
            position: relative;
            left: -50px;
        }
/*-----------------------------------------------------------------------*/
    #data {}

        #data_info {
            position: relative;
            width: 100%;
            height: 100px;
        }

            #data_top>div {
                display: inline-block;
                width: 45%;
                height: 100%;
                border: 1px solid black;
                
            }

            #data_bnd {
                position: absolute;
                left: 5%;
            }

            #data_summary {
                position: absolute;
                right: 5%;
            }

            #data_top>div>div {
                padding-left: 20px;
                padding-top: 10px;
            }

        #data_tabs {
            margin-top: 40px;
            border-bottom: 1px solid black
        }

            #data_tabs>div {
                display:inline-block;
                width:200px;
                background: rgb(200,200,200);
                border: 1px solid black;
                border-bottom: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                text-align: center;
                font-size: 24px;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .data_tab_active {
                background: rgb(100,100,100) !important;
                color: white;
            }

        .data_section {
            display:none;
            margin-top: 40px;

        }

        .data_section_active {
            display: block;
        }
/*-----------------------------------------------------------------------*/
        #data_1 {}

            #d1_filter {}

                #d1_top {
                    margin-bottom: 20px;
                }

                    #d1_top>* {
                        display: inline-block;
                    }

                    #d1_top_right {
                        float: right;
                    }
                    #d1_top_right>* {
                        display: inline-block;
                    }
                    #d1_matches {
                        line-height: 26px;
                        padding-right: 25px;
                        float:left;
                        display:none;
                    }
                    #d1_add {}

                #d1_bot {
                    overflow: hidden;
                    clear: both;
                    margin-bottom: 20px;

                }

                    #d1_bot>div {
                        display: inline-block;
                        /*width:25%;*/
                        float:left;
                    }
                        #d1_bot>div>select {
                            width: 95%;
                        }

                    #d1_c1 {
                        width:32.5%;
                    }
                    #d1_c2 {
                        width:32.5%;
                    }
                    #d1_c3 {
                        width:12.5%;
                    }
                    #d1_c4 {
                        width:22.5%;
                        text-align: right;
                    }

            #d1_selected {
                clear: both;
            }

                #data_1 .dataset_header {
                    position: relative;
                    height: 30px;
                    width: 100%;
                    margin-top: 10px;
                    background: rgb(200,200,200);
                }

                .d1_remove {
                    position: absolute;
                    right:50px;
                    top:2px;
                }

/*-----------------------------------------------------------------------*/
        #data_2 {}

            #d2_top {
                margin-bottom: 20px;
            }
                #d2_top>button {
                    float: right;
                }

            #d2_bot {
                position: relative;
                width:100%;
            }
                #data_2 .dataset_header {
                    position: relative;
                    height: 50px;
                    width: 100%;
                    margin-top: 10px;
                    background: rgb(200,200,200);
                }

                    #data_2 .dataset_header>div {
                        height:50%;
                    }
/*-----------------------------------------------------------------------*/
                .dataset_header {
                    position: relative;
                    height: 50px;
                    width: 100%;
                    margin-top: 10px;
                    background: rgb(200,200,200);
                }

                    .dataset_header>div {
                        height:50%;
                    }

     
                        .dataset_icon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display:inline-block;
                            font-size: 20px;
                            line-height: 30px;
                            background-color:black;
                            color:white;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            vertical-align: bottom;
                            cursor: pointer;
                        }

                        .dataset_header>div>div {
                            display: inline-block;
                            line-height: 25px;
                        }

                        .dataset_h1 {
                            margin-left: 25px;
                        }

                        .dataset_h2 {
                            width: 25%;
                            text-align: center;
                        }

                        .dataset_title {
                            font-weight: bold;
                        }

                .dataset_body {
                    display: none;
                    min-height: 100px;
                    background: rgb(200,200,200);
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                    .dataset_body>div {
                        padding: 10px 20px;
                        margin: 0 20px 20px;
                        border: 1px solid black;
                    }
                        .dataset_h3 {
                            font-weight: bold;
                        }
                        .dataset_h4 {
                            font-style: italic;
                            padding: 10px 20px;
                        }
                            .dataset_opt>div, .dataset_meta_info>div {
                                font-style: normal;
                                padding-left: 20px;
                                padding-bottom: 5px;
                            }
                            .dataset_h4 label {
                                padding: 0px 20px;
                            }
                                .dataset_h4 input {
                                    margin: 0px 5px;
                                }
    
/*-----------------------------------------------------------------------*/
    #checkout {}

        #co_top {
            text-align: center;
        }

            #co_top>div {
                margin-bottom: 10px;
            }

            #co_summary {
                font-style: italic;
            }

            #co_email {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            #co_terms {
                padding: 10px;
                /*border: 1px solid black;*/
            }

            #co_submit {}

                #co_submit>div {
                    font-style: italic;
                }

        #co_bot {}

            #co_boundary {
                padding: 10px;
            }

            .co_dset {
                padding: 10px;
            }

    #confirmation {}

        #confirmation p {
            text-align: center;
        }